/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

ul {list-style-type: none;}
a {
    text-decoration: none;
    color: #444;
}

.line {
    display: inline-block;
    width: 50px;
    border-bottom: 1px solid #3a466a;
    margin-top: 30px;
    margin-bottom: 15px;
}

h2 {
    color: #3a466a;
    font-weight: 700;

}

/* banner */
section#visual {
    max-width: 1920px;
    min-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.bx-wrapper {border:none;}

/* coffee banner */
section#membership_banner {
    /* max-width: 1920px; */
    min-width: 1200px;
    height: 550px;
    background-image: url('../images/925story.jpg');
    margin: 0 auto;
    margin-bottom: 100px;
    overflow: hidden;
}

#membership_wrap { 
    width: 1200px;
    height: 100%;
    /* outline: 1px solid red; */
    margin: 0 auto;
    position: relative;
}

#membership_wrap >  #membership_txt {
    /* width: 477px; */
    height: 255px;
    color: white;
    position: relative;
    left: 20%;
    top: 20%;
    /* outline: 1px solid green; */
}

#membership_wrap >  #membership_txt > p {
    color: white;
    font-size: 20px;
    font-weight: 300;
}
#membership_wrap >  #membership_txt > p:first-child {
    font-family: 'Crimson Text', serif;
    font-size: 64px;
    font-weight: 700;
    color: #6a5951;
}
#membership_wrap >  #membership_txt > p:nth-child(2) {
    color: #6a5951;
    font-weight: 600;
}

#membership_wrap >  #membership_txt > a {
    position: absolute;
    right: 30%;
    color: white;
    font-weight: 400;
    font-size: 20px;
    display: block;
    width: 220px;
    height: 60px;
    border: 2px solid white;
    border-radius: 30px 30px 30px 30px;
    line-height: 55px;
    text-align: center;
    transition: 0.4s;
}

#membership_wrap >  #membership_txt > a:hover {
    transition: 0.4s;
    background: white;
    color: #3a466a;
}

#membership_wrap > img {
    position: absolute;
    right: 0;
    top: 0;
}

/* retail */
#product_slide {
    width: 1200px;
    height: 590px;
    /* background: #ccc; */
    margin: 0 auto;
    margin-bottom: 100px;
}

#product_slide_txt {
    margin: 0 auto;
    text-transform: uppercase;
    width: 125px;
    text-align: center;
}
#product_slide_txt > h2 {
    color: #0b0803;
}

#product_slide > .product_slider {
    margin-top: 50px;
}

#product_slide > .product_slider .product {
    width: 266px;
    /* height: 332px; */
    display: inline-block;
    /* outline: 1px solid red; */
    padding: 0 30px;
    text-align: center;
}

#product_slide > .product_slider .product a {
    outline:none;
}

.product_slider .product p img{
    width: 100%;
    padding-bottom: 45px;
    transition: 0.5s;
}

.product_slider .product p img:hover{
    transform:scale(1.1); 
    transition: 0.7s;
}

.txt_box {
    line-height: 30px;
}

.price {
    color: #0b0803;
}

/* about banner */
#about {
    max-width: 1920px;
    min-width: 1200px;
    height: 500px;
    background-image: url('../images/yogiyo_banner.jpg');
    /* background-attachment: fixed; */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
    margin: 0 auto;
    margin-bottom: 100px;
}

#about_wrap {
    width: 1200px;
    height: 300px;
    /* outline: 1px solid red; */
    margin: 0 auto;
    position: relative;
    top: 17%;
}

#about_wrap > #about_txt {
    float: right;
    color: #3a466a;
}

#about_wrap > #about_txt > p:first-child {
    font-size: 44px;
    font-weight: 300;
    margin-bottom: 15px;
}

#about_wrap > #about_txt > p span {
    font-weight: 500;
}

#about_wrap > #about_txt > p:nth-child(2) {
    font-size: 19px;
    font-weight: 400;
    margin-left: 7px;
    margin-bottom: 40px;
    line-height: 35px;
}

#about_wrap > #about_txt > a {
    width: 245px;
    height: 65px;
    font-size: 25px;
    font-weight: 500;
    border: 2px solid #3a466a;
    display: block;
    margin-left: 7px;
    text-align: center;
    line-height: 61px;
    color: #3a466a;
    transition: 0.4s;
}

#about_wrap > #about_txt > a:hover {
    background: #3a466a;
    color: white;
    transition: 0.4s;
}

/* 가맹개설안내, 꿀팁, 뉴스 */
#info {
    max-width: 1920px;
    min-width: 1200px;
    height: 340px;
    /* background: #ccc; */
    margin: 0 auto;
    margin-bottom: 100px;
}

#info_wrap {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    /* outline: 1px solid red; */
}

#info_wrap > #foundation_info, #tip, aside {
    float: left;
    margin-right: 15px;
}

#info_wrap > aside {
    margin-right: 0;
    width: 490px;
}

#info_wrap > #foundation_info, #tip {
    width: 340px;
    height: 340px;
    padding: 50px;
    color: white;
}

#info_wrap > #foundation_info {
    background-image: linear-gradient(rgba(243, 197, 52, 0.8), rgba(185, 150, 41, 0.88)), url('../images/foundation_01.jpg');
    background-size: cover;
}

#info_wrap > #tip {
    background-image: linear-gradient(rgba(106, 89, 81, 0.8), rgba(104, 76, 62, 0.88)), url('../images/foundation_02.jpg');
    background-size: cover;
}

#info_wrap h3 {
    font-size: 25px;
    font-weight: 500;
}

#info_wrap span.line {
    display: inline-block;
    width: 55px;
    border-bottom: 1px solid white;
    margin: 20px 0;
}

#info_wrap .detail {
    font-size: 18px;
}


/* News */
#info_wrap > aside > div#news {
    height: 185px;
    /* background: #ccc; */
    padding: 10px;    
}

#info_wrap > aside > div#news h3 {
    color: #0b0803;
    margin-bottom: 25px;
}

#info_wrap > aside > div#news > #news_list > li a {
    width: 330px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 30px;
}

#info_wrap > aside > div#news > #news_list > li span {
    float: right;
    color: #888;
}


/* find a store */
#info_wrap > aside > div#findstore {
    margin-top: 15px;
    height: 140px;
    background: #f0ece1;
    color: #0b0803;
    padding: 27px 35px;
    position: relative;
}

#info_wrap > aside > #findstore > #findstore_search {
    width: 286px;
    height: 40px;
    display: block;
    border: 2px solid #0b0803;
    padding: 7px 20px;
    line-height: 22px;
}

#info_wrap > aside #findstore_search img {float: right;}

#info_wrap > aside > #findstore p{
    width: 286px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 14px;
}

#info_wrap > aside > #findstore a {
    font-size: 15px;
    width: 100%;
    display: block;
}

#info_wrap > aside > #findstore > img {
    position: absolute;
    right: 35px;
    top: 27px;
}

/* sns */
#sns {
    width: 1200px;
    height: 625px;
    margin: 0 auto;
    margin-bottom: 100px;
}

#sns > #sns_photo > li {
    width: 240px;
    height: 240px;
    overflow: hidden;
    float: left;
}

#sns > #sns_photo > li img {
    width: 100%;
    transform:scale(1.0); 
    transition: 0.7s;
}

#sns > #sns_photo img:hover {
    transform:scale(1.1); 
    transition: 0.7s;
}

#sns > #sns_txt {
    width: 250px;
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
}
#sns > #sns_txt > h2 {
    color: #0b0803;
}

#sns > #sns_txt > p {
font-size: 22px;
}